*{
    
}

header{
    width: 100vw;
    height: 10vh;
}

.logo{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 2vh;
}
/*body{
    background: black;
}*/

form {
    background: #151515;
    border-radius: 0.5em;
    width: 40em;
    margin: 0;
    padding: 0;
    display: flex;
}