<h1>Hello, Admin</h1>



<a class="adm-func" href="/Admin/UnconfirmedUser">Переглянути непідтверджених користувачів</a>
<a class="adm-func" href="/Admin/StudentList">Переглянути всіх студентів</a>
<a class="adm-func" href="/Admin/TeacherList">Переглянути всіх викладачів</a>
<a class="adm-func" href="/Admin/GetPrices">Переглянути ціни</a>
<a class="adm-func" href="/Admin/GetConcertProgram">Переглянути концертну програму</a>