<h1>Hello, Admin</h1>



<a class="adm-func" href="/Admin/UnconfirmedUser">See unconfirmed users</a>
<a class="adm-func" href="/Admin/StudentList">See all students</a>
<a class="adm-func" href="/Admin/TeacherList">See all teachers</a>