@using MusicSchool.Repositories.Abstract;
@inject IUserConfirmationService confirmation;
@{
    var unconfirmedUsers = confirmation.GetAllUnconfirmedUsers();

}

@{
    foreach(var user in unconfirmedUsers)
    {
        <tr>
            <td>@user.LastName</td>
            <td>@user.Name</td>
            <td>@user.Patronymic</td>
            <td>@user.Email</td>
            <a onclick="return window.confirm('Are you sure?')" href="/Admin/Delete?Email=@user.Email">Видалити</a>
            <a onclick="return window.confirm('Are you sure?')" href="/Admin/ConfirmAsStudent?Email=@user.Email"> Підтвердити, як учня</a>
        </tr>
    }
}