@using MusicSchool.Models.Domain;
@model List<UnconfirmedUserModel>
@{

}
<div class="cont">
    <table id="list">
        <tr>
            <td>ПІБ</td>
            <td>Email</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.LastName @item.Name @item.Patronymic</td>
                    <td>@item.Email</td>

                    <td>
                        <a class="functions" onclick="return window.confirm('Are you sure?')" href="/Admin/Delete?Email=@item.Email">Видалити</a>
                    </td>
                    <td>
                        <a class="functions" onclick="return window.confirm('Are you sure?')" href="/Admin/ConfirmAsStudent?Email=@item.Email"> Підтвердити, як учня</a>
                    </td>
                    <td>
                        <a class="functions" onclick="return window.confirm('Are you sure?')" href="/Admin/ConfirmAsTeacher?Email=@item.Email"> Підтвердити, як викладача</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>

