@model MusicSchool.Models.DTO.SetPricesModel;
@{
}

<div class="center-cont-reg">
    <div class="action">Оновлення даних</div>
    <form method="post" asp-controller="Admin" asp-action="UpdatePrices" autocomplete="off">
        <div class="form-container">
            <div class="data-container-reg">
                <input asp-for="Id" hidden="hidden" value="@Model.Id" />
                <div class="part1">
                    <div class="input-container">
                        <label asp-for="ClassName" for="ClassName">@Model.ClassName</label>
                    </div>
                    <div class="input-container">
                        <label asp-for="Price" for="Price">Ціна</label>
                        <input type="text" placeholder="Price" asp-for="Price">
                    </div>
                    <div class="message-box">
                        <span asp-validation-for="Price"></span>
                    </div>
                </div>
            </div>
            @if (TempData["msg"] != null)
            {
                <div class="message-box">
                    <span class="text-info">@TempData["msg"]</span>
                </div>
            }
            <div class="button-container">
                <button class="btn-default" type="submit">Змінити</button>
            </div>
        </div>
    </form>
</div>