@model MusicSchool.Models.DTO.LoginModel
@{

}
<div class="center-cont">
    <div class="action">ВХІД</div>
    <form method="post" asp-controller="UserAuthentication" asp-action="Login" autocomplete="off">
        <div class="form-container">
            <div class="data-container">
                <div class="input-container">
                    <label asp-for="Email" for="Email">Логін</label>
                    <input type="text" placeholder="Логін" asp-for="Email">
                </div>
                <div class="message-box">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="input-container">
                    <label asp-for="Password" for="Password">Пароль</label>
                    <input type="password" placeholder="Пароль" asp-for="Password">
                </div>
                <div class="message-box">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            @if (TempData["msg"] != null)
            {
                <div class="form-group">
                    <span class="text-info">@TempData["msg"]</span>
                </div>
            }
            <div class="button-container">
                <button class="btn-default" type="submit">УВІЙТИ</button>
            </div>
            <div class="ref">
                <a  href="/UserAuthentication/Registration">РЕЄСТРАЦІЯ</a>
            </div>
        </div>
    </form>
</div>
        