@using MusicSchool.Repositories.Abstract;
@model List<MusicSchool.Models.Domain.PriceModel>
@inject IPriceService priceService

<table>
    <tr>
        <td>Дисципліна</td>
        <td>Ціна</td>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
            <td>@priceService.GetCurrentClass(item.ClassId).ClassName</td>
            <td>@item.Price</td>
            </tr>
        }
    
</table>