@inject MusicSchool.Repositories.Abstract.IAdminService adminService
@{
    var teacher = adminService.GetCurrentTeacher(User.Identity.Name);
}

<div style="text-align:center">Вітаємо, @teacher.Name</div>
<a class="functions" href="/Teacher/TeacherClassSchedule?Id=@teacher.Id">Переглянути графік</a>